 /*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
@include size;
  
    .hero-container {
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
    }
  
    h1 {
      margin: 0 0 10px 0;
      font-size: 64px;
      font-weight: 700;
      line-height: 56px;
      text-transform: uppercase;
      color: $color-variable;
      text-shadow: -1px 0 2px #2f4d5a;
    }
  
    h2 {
      color: $color-variable;
      margin-bottom: 50px;
      font-size: 20px;
      text-transform: uppercase;
      font-weight: 700;
      text-shadow: -1px 0 2px #2f4d5a;
    }
  
    .btn-get-started {
      font-size: 36px;
      display: inline-block;
      padding: 4px 0;
      border-radius: 50px;
      transition: 0.3s ease-in-out;
      margin: 10px;
      width: 64px;
      height: 64px;
      text-align: center;
      border: 2px solid $color-variable;
      color: $color-variable;
  
      &:hover {
        padding-top: 8px;
        background: rgba(255, 255, 255, 0.15);
      }
    }
  }
  
  @media (min-width: 1024px) {
    #hero {
      background-attachment: fixed;
    }
  }
  
  @media (max-width: 768px) {
    #hero {
      h1 {
        font-size: 28px;
        line-height: 36px;
      }
  
      h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
      }
    }
  }
  
 
  
  /*--------------------------------------------------------------
  # Marcas-index
  --------------------------------------------------------------*/
  .asideindex
  {
    padding-top: 30px;
    background-color: #000000;
    text-align: center;
    padding-bottom: 70px;
    h2
    {
      color: $color-variable;
    }
  }
  
  .flexPadre {
    padding-top: 30px;
    display: flex;
    justify-content: center;
  }
  
  /* CONTENEDOR PADRE */
  
  /* VERSIÓN CELULAR */
  /* Si la pantalla tiene un mínimo de 768px ejecuto el siguiente código: */
  @media (min-width: 350px) {
    .gridPadre {
      display: grid;
      row-gap: 20px;
      grid-template-areas: "uno" "dos" "tres" "cuatro" "cinco" "seis";
    }
  }
  
  /* VERSIÓN DE TABLET  */
  /* Medium	md	≥768px */
  @media (min-width: 768px) {
    .gridPadre {
      column-gap: 50px;
      row-gap: 20px;
      grid: center;
      grid-template-areas: "uno dos" "tres cuatro" "cinco seis";
    }
  }
  
  /* VERSIÓN DE ESCRITORIO  */
  @media (min-width: 1024px) {
    .gridPadre {
      column-gap: 30px;
      row-gap: 8px;
      grid: center;
      grid-template-areas: "uno dos tres" "cuatro cinco seis";
    }
  }
  
  .item {
    border: 4px rgb(4, 248, 155) solid;
    height: 220px;
    width: 200px;
    border-radius: 4px;
  
    p {
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
    }
  }
  
  .primero {
    background-image: url(../img/iconos-index/Marcas/Marcas/Motorola.png);
    background-size: 210px;
    background-position-x: center;
    background-position-y: center;
    grid-area: uno;
  }
  
  .segundo {
    /* background-color: #0011ff; */
    background-image: url(../img/iconos-index/Marcas/Marcas/apple.png);
    background-size: 200px;
    background-position-x: center;
    background-position-y: center;
    grid-area: dos;
  }
  
  .tercero {
    background-image: url(../img/iconos-index/Marcas/Marcas/samsung.png);
    background-size: 190px;
    background-position-x: center;
    background-position-y: center;
    grid-area: tres;
  }
  
  .cuarto {
    background-image: url(../img/iconos-index/Marcas/Marcas/LG.png);
    background-size: 190px;
    background-position-x: center;
    background-position-y: center;
    grid-area: cuatro;
  }
  
  .quinto {
    background-image: url(../img/iconos-index/Marcas/Marcas/Xiaomi.png);
    background-size: 190px;
    background-position-x: center;
    background-position-y: center;
    grid-area: cinco;
  }
  
  .sexto {
    background-image: url(../img/iconos-index/Marcas/Marcas/huawei.png);
    background-size: 200px;
    background-position-x: center;
    background-position-y: center;
    grid-area: seis;
  }
  
  .spaceagua{background-color: $verdeagua; padding-top: 3px;}

/*--------------------------------------------------------------
  # ¿Qué reparamos?-index
  --------------------------------------------------------------*/

.primerSeccion
{
    padding-top: 30px;
    margin-top: 90px;
    background-color: $color-nm1;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-bottom: 250px;
    .about
    {
      h2
      {
        color: black;
      }

      .gridindex
      {
        display: flex;
        justify-content: center;
        padding-bottom: 60px;
        h3{color: #000000;}
        .hijo
        {
          margin-top: 10px;
          border: 5px #dcf0ec solid;
          height: 250px;
          width: 250px;
          border-radius: 4px;
        }
      
        .garantia
        {
          
          grid-area: garantia;
          .icono1
          {
            .imgrep
            {
              margin-top: 10px;
              width: 130px;
              height: 130px;
            }
          }
          .lista
          {
            text-align: left;
            color: #000000;
            margin-top: 80px;
            p{font-size: 20px;}
          }
        }
        .servicio
        {
          
          grid-area: servicio; 
          .icono2
          {
            .imgrep
            {
              margin-top: 10px;
              width: 130px;
              height: 130px;
            }
          }
          .lista
          {
            text-align: left;
            color: #000000;
            margin-top: 80px;
            p{font-size: 20px;}
          }
        }
        .repuestos
        {
          grid-area: repuestos;
          .icono3
          {
            .imgrep
            {
              margin-top: 10px;
              width: 130px;
              height: 130px;
            }
          }
          
          .lista
          {
            text-align: left;
            color: #000000;
            margin-top: 80px;
            p{font-size: 20px;}
          }        
        }
      }

          /* VERSIÓN CELULAR */
      /* Si la pantalla tiene un mínimo de 350px ejecuto el siguiente código: */
      @media (min-width: 350px) {
        .gridindex {
          display: grid;
          column-gap: 8px;
          row-gap: 50px;
          grid-template-areas:  "repuestos" "servicio" "garantia";
        }
      }
      
      /* VERSIÓN DE ESCRITORIO  */
      @media (min-width: 860px) {
        .gridindex {
          column-gap: 50px;
          row-gap: 8px;
          grid: center;
          grid-template-areas: "repuestos servicio  garantia";
        }
      }

                /* VERSIÓN CELULAR */
      /* Si la pantalla tiene un mínimo de 350px ejecuto el siguiente código: */
      @media (max-width: 859px) and (min-width: 350px) {
        .repuestos, .servicio {
      margin-bottom: 240px;
        }
      }
    }      
}
   /*--------------------------------------------------------------
  # Conocé más sobre nuestras reparaciones-index
  --------------------------------------------------------------*/
  .segundaSeccion
  {
 
    padding-bottom: 40px;
    padding-top: 40px;
    color: white;
    background-color: rgb(43, 48, 58);
    text-align: center;
  }
   /*--------------------------------------------------------------
  # ¿Qué ofrecemos?-index
  --------------------------------------------------------------*/
  .navindex
  {
        text-align: center;
        display: flex;
        justify-content: center;
        padding-top: 30px;
        background-color: white;

      .cuadro
      {
        h2
        {
          color: black;
        }


        .gridindex
        {
          display: flex;
          justify-content: center;
          padding-bottom: 60px;
          .hijo
          {
            margin-top: 10px;
            border: 5px #016352 solid;
            height: 250px;
            width: 250px;
            border-radius: 4px;
          }
        
          .garantia
          {
            
            grid-area: garantia;
            .icono1
            {
              .imgrep
              {
                margin-top: 10px;
                width: 130px;
                height: 130px;
              }
            }
          }
          .servicio
          {
            
            grid-area: servicio; 
            .icono2
            {
              .imgrep
              {
                margin-top: 10px;
                width: 130px;
                height: 130px;
              }
            }
          }
          .repuestos
          {
            grid-area: repuestos;
            .icono3
            {
              .imgrep
              {
                margin-top: 10px;
                width: 130px;
                height: 130px;
              }
            }
            
              
          }
        }
    
          /* VERSIÓN CELULAR */
      /* Si la pantalla tiene un mínimo de 350px ejecuto el siguiente código: */
      @media (min-width: 350px) {
        .gridindex {
          display: grid;
          grid: center;
          column-gap: 8px;
          row-gap: 50px;
          grid-template-areas: "servicio" "repuestos" "garantia";
        }
      }
      
      /* VERSIÓN DE ESCRITORIO  */
      @media (min-width: 860px) {
        .gridindex {
          column-gap: 50px;
          row-gap: 8px;
          grid: center;
          grid-template-areas: "servicio repuestos garantia";
        }
      }
      }
  
    
   
  }

  

    /*--------------------------------------------------------------
  # Space-index
  --------------------------------------------------------------*/
  .space
  {
     
    padding-top: 7px;
    background-color: $color-nm1;
  }

     /*--------------------------------------------------------------
  # Consultá tu presupuesto-index
  --------------------------------------------------------------*/
  .terceraSeccion
{
  padding-bottom: 35px;
  padding-top: 30px;
  text-align: center;
  align-items: center;
  background-color: white;
  .boton4
  {
    width: 60%;
    height: 45px;
    margin-top: 15px;
    border-radius: 4px;
    border: none;
    color: $color-variable;
    text-transform: uppercase;
    background-color: black;
    font-size: 20px;
  }
}