/*------------------- PÁGINA DE PREGUNTAS  --------------*/

.contenedorpreg
{
    @include size;
  .mainpreg
{
  text-align: center;
  display: flex;
  margin-top: 70px;
  flex-direction: column;
  color:$color-variable;
  button{margin-top: 10px;}
  .preg
  {
    font-size: 50px;
  }
  .aspreg
  {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .sectpreg
  {
    
    margin-bottom: 30px;
  }
}
}

/*FIN PÁGINA DE PREGUNTAS*/