
/*------------------- PÁGINA DE REPARACIONES -------------*/
.bodyrep{
  @include size;
  .contrep
  {
    color: #ffffff;
    text-align: center;
    margin-top: 90px;
  
  .flexrep {
      display: flex;
      justify-content: center;
      margin-top: 40px;
      .box
      {
        border: 3px rgb(4, 248, 155) solid;
        height: 660px;
        width: 340px;
        border-radius: 3px;
        background-color: #000;
        .cram , .listah , .tran
        {margin-top: 20px;}

      } 
      .software
      {
      grid-area: software;
     
      }
      .hardware
      {
        grid-area: hardware;
        
      }
      .micro
      {
        grid-area: micro;
      }
      .imagenrep
      {
        .imgshm
        {
          width: 280px;
          height: 280px;
        }
      }
  }
  }
  
  .asiderep
  {
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 60px;
    color: $color-variable;
    text-align: center;
    background-color: $color-nm1;
    display: flex;
    align-items: center;
    flex-direction: column;

    .contenedorep
    {
      width: 500px;
      height: 500px;
      margin-top: 15px;
      border-radius: 8px;
      border: 5px black solid; 
      
      .contenido
      {
        align-items: center;  
      }
    }
  
  }

  }
  /* CONTENEDOR PADRE */
  
  /* VERSIÓN CELULAR */
  /* Si la pantalla tiene un mínimo de 768px ejecuto el siguiente código: */
  @media (min-width: 350px) {
    .gridrep {
      display: grid;
      column-gap: 20px;
      row-gap: 20px;
      grid-template-areas: "hardware" 
                           "software"
                           "micro";
    }
  }
  /* VERSIÓN ESCRITORIO */
 
  /* Si la pantalla tiene un mínimo de 768px ejecuto el siguiente código: */
  @media (min-width: 1024px) {
    .gridrep {
      display: grid;
      column-gap: 20px;
      row-gap: 20px;
      grid-template-areas: "hardware software micro";
    }
  }
  


 /* FIN PÁGINA REPARACIÓN*/
  .reparar
  {
    text-align: center;
    color: $color-variable;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: $gray;

    a{margin-top: 10px;}
  }
  /* FIN PÁGINA REPARACIÓN */