body
{
  background-color: #000000;
}
$color-nm1:#009961;
$color-variable: rgb(255, 255, 255);
@mixin size 
{
  width: 100%;
  height: 100vh;
  background: url("../img/fondo.png") top center;
  background-size: cover;
  position: relative;
  margin-bottom: -90px;  
}

@import "index", "nosotros", "contacto","preguntas","reparaciones", "footer", "navbar" ;